@page "/randomcomicsviewer"

@inject HttpClient Http
@inject IComicUrlService ComicUrlService

<h5>Click to see random comic strip</h5>

<br />

<div>
    <RadzenButton Click="@GetRandomComic" Text="Get Comic Strip"></RadzenButton>
</div>

<br />

<RadzenCard>
    <div class="embed-responsive">
        <picture>
            <RadzenImage Path="@_fileResult" />
        </picture>
    </div>
</RadzenCard>


@code {

    private string _fileResult = "images/comics.jpg";

    private async Task GetRandomComic()
    {
        _fileResult = await ComicUrlService.GetRandomComic();
    }
}
