@page "/xkcdcomicsviewer"

@inject HttpClient Http
@inject IComicUrlService ComicUrlService

<h5>Click to see XKCD comic strip</h5>

<br />

<div>
    <RadzenButton Click="@GetXkcdComic" Text="Get Comic Strip"></RadzenButton>
</div>

<br />

<RadzenCard>
    <div class="embed-responsive">
        <picture>
            <RadzenImage Path="@_fileResult" />
        </picture>
    </div>
</RadzenCard>

@code {

    private string _fileResult = "images/xkcd.jpg";

    private async Task GetXkcdComic()
    {
        _fileResult = await ComicUrlService.GetXkcdComic();
    }
}
